

nav{
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288) !important;
}
.logo{
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    padding: 0px;

}
.nav-item{
    margin-left: 20px;
}
nav-item,li,a{
    color: white !important;
}
.dropdown-item{
    color: black !important;
}
.nav-item,li,a:hover{
    color: blue !important;
}
/* end of nav styles */.jumbotron  Welcome {
    background-image: url("image/background/h_img.jpg");
    background-size: auto;
    background-size: cover;
    
}
.jumbotron services { 
            background-image: url('image/background/s_img.jpg'); 
            background-size: cover;
}
.jumbotron card {
    background-image: url("image/service_icons/dev_icon.png");

}
.jumbotron card {
    background-image: url("image/service_icons/design_png");
}
.jumbotron card {
    background-image: url("image/service_icons/product_icon");
    
}

.jumbotron portfolio {
    background-image: url("image/portfolio/work1.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work2.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work3.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work4.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work5.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work6.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work7.jpg");
}
.jumbotron portfolio {
    background-image: url("image/portfolio/work8.jpg");
}

/* jumbotron what we do { */
    .toggle{
        display:inline-block;
        height:48px;
        width:48px;
        background-image:url("design_icon.png");
    }

    .toggle.expanded{
        background-image:url("dev_icon.png");
    }
    .toggle.expanded{

background-image: url("product_icon.png");





    }
}